
.pool__container.contain{
    display: flex;
    align-items: flex-start;
    height: 200vh;
    background-color: #e061c5;
    margin-top: 80px;
}
.pool__container{
    background-color: #e061c5;
    display: flex;
    align-items:center;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    .content{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, 
        rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        max-width: 464px;
        width: 464px;
        background-color: #c247a7;
        border-radius: 1em;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        
        justify-content: flex-start;
            padding: 40px;
        p{
            font-size: 24px;
            width: 100%;
            text-align: left;
            padding-left: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .objectW1{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, 
        rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            border-radius: 1em;
            padding: 0px 20px;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // background-color: aliceblue;
            background-color: #aa3c92;
            transition: 1s;
            .spoiler_content{
                transition: 1s;
                width: 100%;
                .window_content .btn{
                    display: flex;
                    align-items: flex-end;
                    height: 25vh;
                }
                .window_content{
                    
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, 
        rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                    p{

                        padding: 0;
                    }
                    display: flex;
                    
                    flex-direction: column;
                    justify-content: space-between;
                    transition: 1s;
                    font-weight: 300;
                    font-size: 18px;
                    // background-color: #8f2e7a;
                    border-radius: 1em;
                    min-height: 200px;
                    padding: 20px;
                    margin-bottom: 40px;
                    input{
                        background-color: #8f2e7a;
                        width: 100%;
                        outline: none;
                        min-height: 40px;
                        border-bottom: 1px solid black;
                        margin-bottom: 40px;
                        margin-top: 40px;
                        font-size: 20px;
                    }
                    input::placeholder{
                        padding: 10px;
                        font-size: 20px;
                        color: black;
                        opacity: 0.7;
                    }
                    .buttons_container{
                        button{
                            font-size: 20px;
                            padding: 14px 10px;
                            width: 100%;
                            border-radius: 1em;
                            background-color: #A761E0;
                        }
                        button:hover{
                            color: white    ;
                            cursor: pointer;
                            background-color: rgb(136, 136, 132);
                        }
                    }
                }
            }

            .desc{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .selector{
                    margin-right: 0px;
                    padding: 2px;
                    svg{
                        transition: 0.5s;
                        width: 100%;
                    }
                    .svgopen{
                        transform: rotate(180deg);
                    }
                }
                .selector:hover{
                    opacity: 0.6;
                    cursor: pointer;
                }
                .selector .open{
                    height: 30vh;
                }
            }
            
            .objectW2{
                padding: 0px 20px;
                width: 100%;
                height: 10vh;
                
            }
            .spoiler_content{
                
            }
            .spoiler_content .contentOpen {
                position: relative;
                
            }
        }
    }   
}